<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Hidden Link to Facebook</title>

</head>
<body>
    <h1>Login Successful</h1>
    <a href="secret">Visit Secret Page</a>

    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>

    <script src="/js/app.js"></script>

</body>
</html>

